[Updates-ambari-{{ ambari_version }}.0]
name=ambari-{{ ambari_version }}.0 - Updates
baseurl=http://public-repo-1.hortonworks.com/ambari/centos{{ ansible_distribution_major_version }}/{{ ambari_version[0:1] }}.x/updates/{{ ambari_version }}.0
gpgcheck=1
gpgkey=http://public-repo-1.hortonworks.com/ambari/centos{{ ansible_distribution_major_version }}/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins
enabled=1
priority=1
