---

## This task installs mysql server and configures it for ambari

- name: install mysql server
  yum: name=mysql-server state=present
  when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "6") or
        (ansible_distribution == "Redhat" and ansible_distribution_major_version == "6")

- name: install mysql server
  yum: name=mariadb-server state=present
  when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "7") or
        (ansible_distribution == "Redhat" and ansible_distribution_major_version == "7")

- name: start mysql server
  service: name=mysqld state=started enabled=yes
  when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "6") or
        (ansible_distribution == "Redhat" and ansible_distribution_major_version == "6")

- name: start mysql server
  service: name=mariadb state=started enabled=yes
  when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "7") or
        (ansible_distribution == "Redhat" and ansible_distribution_major_version == "7")
        
- name: configure mysql for ambari user on all hosts
  command: mysql -uroot  

#- name: configure mysql for ambari user on localhost
- mysql_user: name={{ ambari_dbuser }} password={{ ambari_dbpasswd }} 
  			host={{ item }} 
  			state=present 
  			priv=*.*:ALL
  			login_user=root
  			login_password={{ mysql_rootpw }}
  with_items:
  - localhost
  - {{ ambari_dbhost }}
  - {{ ambari_host }}
