---

# Author:: Sudarshan (<sudarshan.visham188@gmail.com>)
# Playbook Name:: ambari_deploy
# role:: mysql
#
# Copyright 2015, P Sudarshan Rao.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

## This task installs mysql server and configures it for ambari

- name: install mysql server
  yum: name=mysql-server state=present
  when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "6") or
        (ansible_distribution == "Redhat" and ansible_distribution_major_version == "6")

- name: install mysql server
  yum: name=mariadb-server state=present
  when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "7") or
        (ansible_distribution == "Redhat" and ansible_distribution_major_version == "7")

- name: start mysql server
  service: name=mysqld state=started enabled=yes
  when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "6") or
        (ansible_distribution == "Redhat" and ansible_distribution_major_version == "6")

- name: start mysql server
  service: name=mariadb state=started enabled=yes
  when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "7") or
        (ansible_distribution == "Redhat" and ansible_distribution_major_version == "7")
        
- name: configure mysql for ambari user on all hosts
  command: mysql -uroot  

#- name: configure mysql for ambari user on localhost
- mysql_user: name={{ ambari_dbuser }} password={{ ambari_dbpasswd }} 
  			host={{ item }} 
  			state=present 
  			priv=*.*:ALL
  			login_user=root
  			login_password={{ mysql_rootpw }}
  with_items:
  - localhost
  - {{ ambari_dbhost }}
  - {{ ambari_host }}
